.product-quantity{
    font-size: initial !important;
}

.con-button a
{
    width: 200px;
	height: 75px;
	line-height: 44px;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.con-button_continue
{
	background: #2fce98;
}
.con-button_continue:hover
{
	background: #000000;
}