.prod_price{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(15, 70, 173);
    }

.green {
    background-color:red;
   }

   .blank{
       background-color:white;
   }

   .heart {
    font-size: 19px;
      color:red;
  }